* {
    direction: rtl;
}

body {
    font-family: 'Varela Round', sans-serif;
    text-align: right;
    font-size: 1rem;
}

h1, h2, h3, h4, .h4, h5, .h5 {
    text-align: right;
}

.dir-ltr {
    direction: ltr;
}

.form-check {
    /* text-align: left; */
    text-align: right;
}

.form-check-input {
    margin-right: -1em;
}

.form-check-inline .form-check-input{
    margin-right: 0;
    margin-left: 0.3rem;   
        
}

.align-left {
    text-align: left;
}

h2 {
    font-size: 1.2rem;
  }

.h5, h5 {
    font-size: 1rem;
}

.has-error .form-control {
    border-color: #a94442;
  }
  
  /*
  * set to hidden
  */
  #err {
    visibility: hidden;
  }
  
  #email:invalid{
    background-color: lightpink;
  }
  
  input:invalid ~ .errMsg {
    color: var(--red);
    font-weight: bold;  
  }
  
  .form-group-mb-0 {
    margin-bottom: 0px;
  }

  .striped {
    background-color:#efefef;
  }

/* ul.list-group.list-group-striped li:nth-of-type(odd){
    background: blue;
}
ul.list-group.list-group-striped li:nth-of-type(even){
    background: purple;
} */

/**
* When main menu is not collapsed
**/
@media only screen and (min-width: 768px) {
    /* set menu items to the left */
    .left-menu-items {
        margin-right: auto!important;
    }
}
  